mixin appLink(href, title, img)
    div.post-link
        a(href=href).row-padding
            div.col.l3.m6.margin-bottom
                div.display-container
                    div.display-bottomleft.black.br-2.padding=title
                    picture
                        source(srcset=webp type="image/webp")
                        source(srcset=img type="image/"+type) 
                        img(src=img alt=title).app_image.margin-bottom
