div.top
    div.bar.bg-white.padding.card.center(id="cookieWarning" style="display: none;") This site can use cookies for page analytics with your consent: 
        button(type="button" id="acceptCookies") Accept
    div.bar.bg-white.padding.card
        a(href=baseURL).bar-item.btn Gav
            picture
                source(srcset=baseURL+'/images/logo.webp' type="image/webp")
                source(srcset=img type=baseURL+'/images/logo.png') 
                img(id="logo" src=baseURL+'/images/logo.png' alt='GavG Logo')
        input(type="checkbox" id="menu-toggle-input")
        label(id="menu-toggle" for="menu-toggle-input").bar-item.right
            div.bar1
            div.bar2
            div.bar3
        div.right
            a(href=baseURL+"/index.html").bar-item.btn About
            a(href=baseURL+"/posts/index.html").bar-item.btn Posts
